docker
flaml
transformers
openai
gymnasium
rich
openai==1.31.0
langchain
chromadb
tiktoken
diskcache
pypdf
unstructured
fuzzywuzzy
python-Levenshtein
playwright
minify_html
pandas
tenacity
accelerate
optimum
rpyc
mysql-connector-python
google-cloud-bigquery
duckdb
psycopg2-binary
google.generativeai
plotly
snowflake
dashscope
groq
fireworks-ai